Repository simonrw/cflivestatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, go test

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Lint yaml files
        entry: yamllint --no-warnings
        language: system
        pass_filenames: true
        stages:
          - commit
        types:
          - yaml
      - id: go test
        name: go test
        entry: go test ./...
        language: system
        always_run: false
        verbose: false
        pass_filenames: false
        stages:
          - commit
        types:
          - go

fail_fast: true

Add readme
  README.md
Due: none

Ensure goreleaser runs after tests
  .github/workflows/go.yml
Due: yamllint

Build on tags
  .github/workflows/go.yml
Due: yamllint

Update readme with usage and installation
  README.md
Due: none

Don't create screen until first resources fetched
  main.go
Due: go test

Fatal log on break error
  main.go
Due: go test

Print time better
  main.go
Due: go test

Return inner error from Fetch
  fetcher/fetcher.go
Due: go test

Do not specify region
  main.go
Due: go test

Add ability to customise sleep time
  main.go
Due: go test

update pre-commit config
  .pre-commit-config.yaml
Due: yamllint

fix: remove unused function
  main.go
Due: go test

Add nix build system
  .envrc
  .gitignore
  default.nix
Due: none

Include flake
  .envrc
  flake.lock
  flake.nix
Due: none

Add custom endpoint url for LocalStack
  main.go
Due: go test

Swap nix for mise
  .envrc
  default.nix
  flake.lock
  flake.nix
  mise.toml
Due: none

Remove sts debug call
  go.mod
  go.sum
  main.go
Due: go test
